.tooltip {
  left: 0;
  position: absolute;
  top: 0;
  width: 320px;
  z-index: 2000;

  background: #dedede;
  border-radius: 0.2em;
  margin-top: 20px;
  padding: 10px;

  display: none;
}

.show {
  display: block;
}

.noResults {
  margin-top: 8px;
}

.close {
  position: absolute;
  top: 5px;
  right: 10px;
  color: #333;
  text-decoration: none;
}

.title {
  margin: 0 0 0 0;
  font-size: 1em;
  padding: 0;
}

.fetchingSynonyms {
  color: #666;
}

.synonymsFetchRejection {
  color: red;
}

.synonyms {
  list-style: none;
  padding: 0;
  margin: 0;
  font-weight: 400;
  color: #333;

  li span {
    color: #333;
    text-decoration: none;
    cursor: pointer;

    &:hover {
      color: #000;
      text-decoration: underline;
    }
  }
}
